logs/
.idea
.vscode
.mvn/

vendor/

pkg/registry/zookeeper-4unittest/contrib/fatjar
coverage.txt


*.exe
test


# App
dubbo-go-pixiu
dubbo-go-pixiu.exe
dubbgo_server.out
samples/dubbogo/simple/server/app/app