logs/
.idea
.vscode
.mvn/

# app
dubbo-go-pixiu
dubbo-go-pixiu.exe
dubbgo_server.out
samples/dubbogo/simple/server/app/app
.scannerwork
/logs
/.idea
/.vscode
.cache
.log

.DS_Store
vendor/

coverage.txt

*.iml

*.exe
!samples/springcloud/zookeeper/test
!samples/springcloud/nacos/test

target/
samples/**/dist

out/
/test