
# app
dubbo-go-pixiu
dubbo-go-pixiu.exe
dubbgo_server.out
samples/dubbogo/simple/server/app/app
.scannerwork
/logs
/.idea
/.vscode
pkg/registry/zookeeper-4unittest/contrib/fatjar


.DS_Store

/*.exe
test