#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
---
static_resources:
  listeners:
    - name: "net/http"
      address:
        socket_address:
          protocol_type: "HTTP"
          address: "0.0.0.0"
          port: 8888
      filter_chains:
        - filter_chain_match:
            domains:
              - api.dubbo.com
              - api.pixiu.com
          filters:
            - name: dgp.filters.http_connect_manager
              config:
                route_config:
                  routes:
                    - match:
                        prefix: "/api/v1"
                        headers:
                          - name: "X-DGP-WAY"
                            value: "dubbo"
                      route:
                        cluster: "test-dubbo"
                        cluster_not_found_response_code: 505
                        cors:
                          allow_origin:
                            - "*"
                          enabled: true
                  authority_config:
                    authority_rules:
                      - strategy: "Blacklist"
                        limit: "IP"
                        items:
                          - "127.0.0.1"
                      - strategy: "Whitelist"
                        limit: "App"
                        items:
                          - "test_dubbo"
                http_filters:
                  - name: dgp.filters.http.authority_filter
                    config:
                  - name: dgp.filters.http.api
                    config:
                  - name: dgp.filters.http.router
                    config:
                  - name: dgp.filters.remote_call
                    config:
                server_name: "test_http_dubbo"
                generate_request_id: false
      config:
        idle_timeout: 5s
        read_timeout: 5s
        write_timeout: 5s
  clusters:
    - name: "test_dubbo"
      lb_policy: "RoundRobin"
      connect_timeout: "5s"
      request_timeout: "10s"
      registries:
        "zookeeper":
          protocol: "zookeeper"
          timeout: "3s"
          address: "127.0.0.1:2181"
          username: ""
          password: ""
  shutdown_config:
    timeout: "60s"
    step_timeout: "10s"
    reject_policy: "immediacy"
  pprofConf:
    enable: true
    address:
      socket_address:
        address: "0.0.0.0"
        port: 6060
  accessLog:
    enable: true
    outputpath: C:\Users\60125\Desktop\dubbo-go\logs\dubbo-go-pixiu-access
